/* Created by Anthony Fucci (anthonyfucci.com) */
html, body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0;
	cursor: default;
}

/* File menu stuff */
.file-menu-frame {
	border-bottom: 1px solid rgba(240,240,240);
	z-index: 200;
	position: sticky; /* needed for z-index, which is needed so .file-menu-frame children can be interacted with even if the game container element is disabled */
}
.file-menu {
	height: 18px;
	width: 100vw;
	font-size: 0; /* prevent white space with nested inline-block elements */
	border-bottom: 1px solid rgba(232,233,234);
	background-color: rgba(245,246,247);
}

/* Game menu button stuff */
.game-file-menu-frame {
	width: 44px;
	display: inline-block;
}
.help-file-menu-frame {
	width: 38px;
	display: inline-block;
}
.extra-menu-frame {
	width: 40px;
	color: #444444;
	display: none;
}
.game-file-menu-frame:hover .menu-game-button,
.help-file-menu-frame:hover .menu-help-button,
.extra-menu-frame:hover .menu-extra-button {
	background-color: rgba(209, 226, 242);
	border: 1px solid rgba(161,197,233);
}
.menu-game-button,
.menu-help-button,
.menu-extra-button {
	font-family: 'Segoe UI';
	font-size: 9pt;
	width: 100%;
	text-align: center;
	border: 1px solid transparent;
}
.menu-game-button:hover + div, .menu-game-container:hover,
.menu-help-button:hover + div, .menu-help-container:hover,
.menu-extra-button:hover + div, .menu-extra-container:hover {
	display: inline-block !important;
	background-color: rgba(245,246,247);
	position: absolute;
	
}
.menu-container-top {
	z-index: 1;
}
.menu-game-container,
.menu-help-container,
.menu-extra-container {
	display: none;
	width: 130px;
	/* white-space: pre; */
	background-color: rgba(245,246,247);
	border: 1px solid rgba(204,204,204);
}
.menu-help-container {
	max-width: calc(100vw - 46px);
	width: 140px;
}
.menu-extra-container {
	max-width: calc(100vw - 84px);
}
.menu-item[data-name=New] > div {
	float: right;
	padding-right: 4px;
}
.menu-item {
	font-family: 'Segoe UI';
	font-size: 9pt;
	padding: 1px 8px 1px 16px;
	color: #000000;
}
.menu-item:hover {
	background-color: rgba(209, 226, 242);
}
.menu-item-separator {
	height: 1px;
	background-color: #cccccc;
	margin: 0px 3px 0px 3px;
}
.menu-item-disabled {
	color: #666666;
}
.menu-mark {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='7' height='7'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M1 4h3v2H1V4z' id='A'/%3E%3Cpath d='M0 3h2v2H0V3z' id='B'/%3E%3Cpath d='M2 4h1v3H2V4z' id='C'/%3E%3Cpath d='M0 2h1v3H0V2z' id='D'/%3E%3Cpath d='M3 3h2v2H3V3z' id='E'/%3E%3Cpath d='M4 2h2v2H4V2z' id='F'/%3E%3Cpath d='M5 1h2v2H5V1z' id='G'/%3E%3Cpath d='M6 0h1v3H6V0z' id='H'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 6px 50%;
}
.file-menu {
	white-space: nowrap;
}
.game-file-menu-frame,
.help-file-menu-frame,
.extra-menu-frame,
.feature-content-frame {
	white-space: normal;
}

.extra-replay-menu-frame,
.replay-menu-frame,
.is-prev-game-menu-frame,
.menu-opener-frame {
	position: fixed;
	right: 0px;
	display: none;
	font-size: 0;
	height: 16px;
	white-space: nowrap;
}
.replay-menu-frame-enabled,
.is-prev-game-menu-frame-enabled,
.menu-opener-frame-enabled {
  display: inline-block;
}
.replay-menu-container,
.is-prev-game-menu-container {

}
.replay-menu-item,
.is-prev-game-menu-item,
.menu-opener-item {
	display: inline-block;
	font-family: 'Segoe UI';
	font-size: 9pt;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-top: 1px;
}
.replay-menu-item {
	font-family: 'Arial';
	vertical-align: top;
	min-height: 16px;
}
.replay-menu-item:hover,
.is-prev-game-menu-item:hover {
	background-color: rgba(209, 226, 242);
}
.replay-menu-item-enabled {
	background-color: rgba(209, 226, 242);
}
.replay-menu-item[data-replay-menu="stats-button"] {
	padding-right: 4px;
	padding-left: 2px;
}
.replay-menu-item[data-replay-menu="play-pause-button"] {
	padding-left: 4px;
	padding-right: 3px;
}
.replay-menu-item[data-replay-menu="play-pause-button"] span:first-child {
	font-weight: bold;
}

.color-red {
	color: rgba(255, 0, 0, .8);
}
.replay-mode-html-body-overlay {
	display: none;
	position: absolute;
	width: calc(100vw - 4px);
	height: calc(100vh - 4px);
	border: 2px solid rgba(255, 0, 0, 0.60);
	z-index: 300;
	pointer-events: none;
}
.replay-mode-html-body-overlay-enabled {
	display: block;
}
.replay-mode-game-container-overlay {
	position: absolute;
	width: 100vw;
	height: calc(100vh - 20px);
	top: 20px;
	z-index: 100;
}

.menu-opener-item {
	font-family: 'Arial';
	padding-right: 6px;
	padding-top: 1px;
}
.menu-opener-frame:hover + div, .replay-menu-frame:hover {
	display: inline-block;
	background-color: rgba(245,246,247);
	position: absolute;
}
/* Frame and border stuff */
.game-window-frame {
	border-top: 3px solid rgba(255,255,255);
	border-left: 3px solid rgba(255,255,255);
}
.window-frame-top {
	border-top: 6px solid rgba(192,192,192);
	border-left: 6px solid rgba(192,192,192);
	border-right: 5px solid rgba(192,192,192);
	border-bottom: 3px solid rgba(192,192,192);
}
.window-frame-bottom {
	border-top: 3px solid rgba(192,192,192);
	border-left: 6px solid rgba(192,192,192);
	border-right: 5px solid rgba(192,192,192);
	border-bottom: 5px solid rgba(192,192,192);
}

/* Scoreboard stuff */
.scoreboard-frame {
	border-top: 2px solid rgba(128,128,128);
	border-left: 2px solid rgba(128,128,128);
	border-right: 2px solid rgba(255,255,255);
	border-bottom: 2px solid rgba(255,255,255);
}
.scoreboard {
	height: 33px;
	width: calc(100vw - 18px); /* sum pixels of hard coded vertical border only divs */
	background-color: rgba(192,192,192);
}

/* Gameplay container stuff */
.cell-container-frame {
	border-top: 3px solid rgba(128,128,128);
	border-left: 3px solid rgba(128,128,128);
	border-right: 3px solid rgba(255,255,255);
	border-bottom: 3px solid rgba(255,255,255);
}
.cell-container {
	height: calc(100vh - 83px); /* sum pixels of hard coded horizontal divs (scoreboard) including border only divs */
	width: calc(100vw - 20px); /* sum pixels of hard coded vertical border only divs */
	background-color: rgba(192, 192, 192);
	display: grid;
	grid-auto-flow: row;
  gap: 0px;
}
.cell-container > div {
	background-repeat: no-repeat;
	background-position: calc(50% - 1px) calc(50% - 1px);
  background-size: 10px;
	border-top: 2px solid rgba(255,255,255);
	border-left: 2px solid rgba(255,255,255);
	border-right: 2px solid rgba(128,128,128);
	border-bottom: 2px solid rgba(128,128,128);
}
/* for the main cell visual classes, use !important to replace default cell styling of .cell-container so we don't have to maintain on/off class toggling at this level. the important's can probably be reduced by making svgs more consistent (background-size / background-position) */
.active, .clear, .notmine {
	padding: 1px 2px 2px 1px;
	border-top: 1px solid rgba(128,128,128) !important;
	border-left: 1px solid rgba(128,128,128) !important;
	border-right: none !important;
	border-bottom: none !important;
}
.mine {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='13' height='13'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M6 0h1v13H6V0z' id='A'/%3E%3Cpath d='M0 6h13v1H0V6z' id='B'/%3E%3Cpath d='M10 2h1v1h-1V2z' id='C'/%3E%3Cpath d='M10 10h1v1h-1v-1z' id='D'/%3E%3Cpath d='M9 3h1v3H9V3z' id='E'/%3E%3Cpath d='M9 4h2v2H9V4z' id='F'/%3E%3Cpath d='M7 2h2v4H7V2z' id='G'/%3E%3Cpath d='M4 2h2v4H4V2z' id='H'/%3E%3Cpath d='M4 7h2v4H4V7z' id='I'/%3E%3Cpath d='M7 7h2v4H7V7z' id='J'/%3E%3Cpath d='M9 7h1v3H9V7z' id='K'/%3E%3Cpath d='M3 3h1v3H3V3z' id='L'/%3E%3Cpath d='M3 7h7v3H3V7z' id='M'/%3E%3Cpath d='M10 7h1v2h-1V7z' id='N'/%3E%3Cpath d='M2 4h2v5H2V4z' id='O'/%3E%3Cpath d='M2 7h1v2H2V7z' id='P'/%3E%3Cpath d='M4 4h2v2H4V4z' id='Q'/%3E%3Cpath d='M2 6h9v3H2V6z' id='R'/%3E%3Cpath d='M6 3h4v7H6V3z' id='S'/%3E%3Cpath d='M3 3h7v1H3V3z' id='T'/%3E%3Cpath d='M4 2h5v1H4V2z' id='U'/%3E%3Cpath d='M4 10h5v1H4v-1z' id='V'/%3E%3Cpath d='M10 4h1v5h-1V4z' id='W'/%3E%3Cpath d='M2 2h1v1H2V2z' id='X'/%3E%3Cpath d='M2 10h1v1H2v-1z' id='Y'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23J'/%3E%3Cuse xlink:href='%23J' class='B'/%3E%3Cuse xlink:href='%23K'/%3E%3Cuse xlink:href='%23K' class='B'/%3E%3Cuse xlink:href='%23L'/%3E%3Cuse xlink:href='%23L' class='B'/%3E%3Cuse xlink:href='%23M'/%3E%3Cuse xlink:href='%23M' class='B'/%3E%3Cuse xlink:href='%23N'/%3E%3Cuse xlink:href='%23N' class='B'/%3E%3Cuse xlink:href='%23O'/%3E%3Cuse xlink:href='%23O' class='B'/%3E%3Cuse xlink:href='%23P'/%3E%3Cuse xlink:href='%23P' class='B'/%3E%3Cuse xlink:href='%23Q' fill='%23fff'/%3E%3Cuse xlink:href='%23Q' class='B'/%3E%3Cuse xlink:href='%23R'/%3E%3Cuse xlink:href='%23R' class='B'/%3E%3Cuse xlink:href='%23S'/%3E%3Cuse xlink:href='%23S' class='B'/%3E%3Cuse xlink:href='%23T'/%3E%3Cuse xlink:href='%23T' class='B'/%3E%3Cuse xlink:href='%23U'/%3E%3Cuse xlink:href='%23U' class='B'/%3E%3Cuse xlink:href='%23V'/%3E%3Cuse xlink:href='%23V' class='B'/%3E%3Cuse xlink:href='%23W'/%3E%3Cuse xlink:href='%23W' class='B'/%3E%3Cuse xlink:href='%23X'/%3E%3Cuse xlink:href='%23X' class='B'/%3E%3Cuse xlink:href='%23Y'/%3E%3Cuse xlink:href='%23Y' class='B'/%3E%3C/svg%3E");
  background-size: 13px !important; /* 86% !important; */
	background-position: 50% 50% !important;
}
.triggered-mine {
	background-color: rgba(255,0,0) !important;
}
.notmine {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='13' height='13'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D.C%7Bfill:red%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M3 7h7v3H3V7z' id='A'/%3E%3Cpath d='M6 0h1v13H6V0z' id='B'/%3E%3Cpath d='M0 6h13v1H0V6z' id='C'/%3E%3Cpath d='M10 2h1v1h-1V2z' id='D'/%3E%3Cpath d='M10 10h1v1h-1v-1z' id='E'/%3E%3Cpath d='M9 3h1v3H9V3z' id='F'/%3E%3Cpath d='M9 4h2v2H9V4z' id='G'/%3E%3Cpath d='M7 2h2v4H7V2z' id='H'/%3E%3Cpath d='M4 2h2v4H4V2z' id='I'/%3E%3Cpath d='M4 4h3.5v7H4V4z' id='J'/%3E%3Cpath d='M7 7h2v4H7V7z' id='K'/%3E%3Cpath d='M9 7h1v3H9V7z' id='L'/%3E%3Cpath d='M3 3h1v3H3V3z' id='M'/%3E%3Cpath d='M10 7h1v2h-1V7z' id='N'/%3E%3Cpath d='M2 4h2v5H2V4z' id='O'/%3E%3Cpath d='M2 7h1v2H2V7z' id='P'/%3E%3Cpath d='M4 4h2v2H4V4z' id='Q'/%3E%3Cpath d='M2 6h.9v3H2V6z' id='R'/%3E%3Cpath d='M6 3h4v7H6V3z' id='S'/%3E%3Cpath d='M3 3h7v1H3V3z' id='T'/%3E%3Cpath d='M4 2h5v1H4V2z' id='U'/%3E%3Cpath d='M4 10h5v1H4v-1z' id='V'/%3E%3Cpath d='M10 4h1v5h-1V4z' id='W'/%3E%3Cpath d='M2 2h1v1H2V2z' id='X'/%3E%3Cpath d='M2 10h1v1H2v-1z' id='Y'/%3E%3Cpath d='M5.5 6h2v2h-2V6z' id='Z'/%3E%3Cpath d='M7 8h2v1H7V8z' id='a'/%3E%3Cpath d='M8 9h2v1H8V9z' id='b'/%3E%3Cpath d='M9 10h2v1H9v-1z' id='c'/%3E%3Cpath d='M2 10h2v1H2v-1z' id='d'/%3E%3Cpath d='M3 9h2v1H3V9z' id='e'/%3E%3Cpath d='M4 8h2v1H4V8z' id='f'/%3E%3Cpath d='M10 11h2v1h-2v-1z' id='g'/%3E%3Cpath d='M11 12h2v1h-2v-1z' id='h'/%3E%3Cpath d='M0 12h2v1H0v-1z' id='i'/%3E%3Cpath d='M1 11h2v1H1v-1z' id='j'/%3E%3Cpath d='M7 5h2v1H7V5z' id='k'/%3E%3Cpath d='M4 5h2v1H4V5z' id='l'/%3E%3Cpath d='M3 4h2v1H3V4z' id='m'/%3E%3Cpath d='M2 3h2v1H2V3z' id='n'/%3E%3Cpath d='M1 2h2v1H1V2z' id='o'/%3E%3Cpath d='M0 1h2v1H0V1z' id='p'/%3E%3Cpath d='M8 4h2v1H8V4z' id='q'/%3E%3Cpath d='M9 3h2v1H9V3z' id='r'/%3E%3Cpath d='M10 2h2v1h-2V2z' id='s'/%3E%3Cpath d='M11 1h2v1h-2V1z' id='t'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23J'/%3E%3Cuse xlink:href='%23J' class='B'/%3E%3Cuse xlink:href='%23K'/%3E%3Cuse xlink:href='%23K' class='B'/%3E%3Cuse xlink:href='%23L'/%3E%3Cuse xlink:href='%23L' class='B'/%3E%3Cuse xlink:href='%23M'/%3E%3Cuse xlink:href='%23M' class='B'/%3E%3Cuse xlink:href='%23N'/%3E%3Cuse xlink:href='%23N' class='B'/%3E%3Cuse xlink:href='%23O'/%3E%3Cuse xlink:href='%23O' class='B'/%3E%3Cuse xlink:href='%23P'/%3E%3Cuse xlink:href='%23P' class='B'/%3E%3Cuse xlink:href='%23Q' fill='%23fff'/%3E%3Cuse xlink:href='%23Q' class='B'/%3E%3Cuse xlink:href='%23R'/%3E%3Cuse xlink:href='%23R' class='B'/%3E%3Cuse xlink:href='%23S'/%3E%3Cuse xlink:href='%23S' class='B'/%3E%3Cuse xlink:href='%23T'/%3E%3Cuse xlink:href='%23T' class='B'/%3E%3Cuse xlink:href='%23U'/%3E%3Cuse xlink:href='%23U' class='B'/%3E%3Cuse xlink:href='%23V'/%3E%3Cuse xlink:href='%23V' class='B'/%3E%3Cuse xlink:href='%23W'/%3E%3Cuse xlink:href='%23W' class='B'/%3E%3Cuse xlink:href='%23X'/%3E%3Cuse xlink:href='%23X' class='B'/%3E%3Cuse xlink:href='%23Y'/%3E%3Cuse xlink:href='%23Y' class='B'/%3E%3Cuse xlink:href='%23Z' class='C'/%3E%3Cuse xlink:href='%23Z' class='B'/%3E%3Cuse xlink:href='%23a' class='C'/%3E%3Cuse xlink:href='%23a' class='B'/%3E%3Cuse xlink:href='%23b' class='C'/%3E%3Cuse xlink:href='%23b' class='B'/%3E%3Cuse xlink:href='%23c' class='C'/%3E%3Cuse xlink:href='%23c' class='B'/%3E%3Cuse xlink:href='%23d' class='C'/%3E%3Cuse xlink:href='%23d' class='B'/%3E%3Cuse xlink:href='%23e' class='C'/%3E%3Cuse xlink:href='%23e' class='B'/%3E%3Cuse xlink:href='%23f' class='C'/%3E%3Cuse xlink:href='%23f' class='B'/%3E%3Cuse xlink:href='%23g' class='C'/%3E%3Cuse xlink:href='%23g' class='B'/%3E%3Cuse xlink:href='%23h' class='C'/%3E%3Cuse xlink:href='%23h' class='B'/%3E%3Cuse xlink:href='%23i' class='C'/%3E%3Cuse xlink:href='%23i' class='B'/%3E%3Cuse xlink:href='%23j' class='C'/%3E%3Cuse xlink:href='%23j' class='B'/%3E%3Cuse xlink:href='%23k' class='C'/%3E%3Cuse xlink:href='%23k' class='B'/%3E%3Cuse xlink:href='%23l' class='C'/%3E%3Cuse xlink:href='%23l' class='B'/%3E%3Cuse xlink:href='%23m' class='C'/%3E%3Cuse xlink:href='%23m' class='B'/%3E%3Cuse xlink:href='%23n' class='C'/%3E%3Cuse xlink:href='%23n' class='B'/%3E%3Cuse xlink:href='%23o' class='C'/%3E%3Cuse xlink:href='%23o' class='B'/%3E%3Cuse xlink:href='%23p' class='C'/%3E%3Cuse xlink:href='%23p' class='B'/%3E%3Cuse xlink:href='%23q' class='C'/%3E%3Cuse xlink:href='%23q' class='B'/%3E%3Cuse xlink:href='%23r' class='C'/%3E%3Cuse xlink:href='%23r' class='B'/%3E%3Cuse xlink:href='%23s' class='C'/%3E%3Cuse xlink:href='%23s' class='B'/%3E%3Cuse xlink:href='%23t' class='C'/%3E%3Cuse xlink:href='%23t' class='B'/%3E%3C/svg%3E");
  background-size: 13px !important; /* 86% !important; */
	background-position: 50% 50% !important;
}
.flag {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cdefs%3E%3Cpath d='M2 1h4v3H2V1z' id='A'/%3E%3Cpath d='M4 0h2v5H4V0z' id='B'/%3E%3Cpath d='M1 2.02L2 2l.02 1-1 .02-.02-1z' id='C'/%3E%3Cpath d='M5 5h1v4H5V5z' id='D'/%3E%3Cpath d='M3 7h4v2H3V7z' id='E'/%3E%3Cpath d='M1 8h8v2H1V8z' id='F'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' fill='red'/%3E%3Cuse xlink:href='%23A' fill-opacity='0'/%3E%3Cuse xlink:href='%23B' fill='red'/%3E%3Cuse xlink:href='%23B' fill-opacity='0'/%3E%3Cuse xlink:href='%23C' fill='red'/%3E%3Cuse xlink:href='%23C' fill-opacity='0'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' fill-opacity='0'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' fill-opacity='0'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' fill-opacity='0'/%3E%3C/svg%3E");
  background-position: 50% 50% !important;
}
.question {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M3 0h4v1H3V0z' id='A'/%3E%3Cpath d='M2 1h2v2H2V1z' id='B'/%3E%3Cpath d='M6 1h2v3H6V1z' id='C'/%3E%3Cpath d='M5 4h2v1H5V4z' id='D'/%3E%3Cpath d='M4 5h2v2H4V5z' id='E'/%3E%3Cpath d='M4 8h2v2H4V8z' id='F'/%3E%3Cpath d='M6 0h1v5H6V0z' id='G'/%3E%3Cpath d='M3 0h1v3H3V0z' id='H'/%3E%3Cpath d='M5 4h1v3H5V4z' id='I'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3C/svg%3E");
  background-position: 50% 50% !important;
}

.face-neutral {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='17' height='17'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M6 0h5v1H6V0z' id='A'/%3E%3Cpath d='M6 16h5v1H6v-1z' id='B'/%3E%3Cpath d='M0 6h1v5H0V6z' id='C'/%3E%3Cpath d='M16 6h1v5h-1V6z' id='D'/%3E%3Cpath d='M4 1h2v1H4V1z' id='E'/%3E%3Cpath d='M11 1h2v1h-2V1z' id='F'/%3E%3Cpath d='M4 15h2v1H4v-1z' id='G'/%3E%3Cpath d='M11 15h2v1h-2v-1z' id='H'/%3E%3Cpath d='M1 4h1v2H1V4z' id='I'/%3E%3Cpath d='M15 4h1v2h-1V4z' id='J'/%3E%3Cpath d='M1 11h1v2H1v-2z' id='K'/%3E%3Cpath d='M15 11h1v2h-1v-2z' id='L'/%3E%3Cpath d='M3 2h1v1H3V2z' id='M'/%3E%3Cpath d='M2 3h1v1H2V3z' id='N'/%3E%3Cpath d='M13 2h1v1h-1V2z' id='O'/%3E%3Cpath d='M14 3h1v1h-1V3z' id='P'/%3E%3Cpath d='M14 13h1v1h-1v-1z' id='Q'/%3E%3Cpath d='M13 14h1v1h-1v-1z' id='R'/%3E%3Cpath d='M2 13h1v1H2v-1z' id='S'/%3E%3Cpath d='M3 14h1v1H3v-1z' id='T'/%3E%3Cpath d='M1 6h15v5H1V6z' id='U'/%3E%3Cpath d='M2 4h13v9H2V4z' id='V'/%3E%3Cpath d='M3 3h11v11H3V3z' id='W'/%3E%3Cpath d='M4 2h9v13H4V2z' id='X'/%3E%3Cpath d='M6 1h5v15H6V1z' id='Y'/%3E%3Cpath d='M5 5h2v2H5V5z' id='Z'/%3E%3Cpath d='M10 5h2v2h-2V5z' id='a'/%3E%3Cpath d='M6 12h5v1H6v-1z' id='b'/%3E%3Cpath d='M11 11h1v1h-1v-1z' id='c'/%3E%3Cpath d='M12 10h1v1h-1v-1z' id='d'/%3E%3Cpath d='M5 11h1v1H5v-1z' id='e'/%3E%3Cpath d='M4 10h1v1H4v-1z' id='f'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23J'/%3E%3Cuse xlink:href='%23J' class='B'/%3E%3Cuse xlink:href='%23K'/%3E%3Cuse xlink:href='%23K' class='B'/%3E%3Cuse xlink:href='%23L'/%3E%3Cuse xlink:href='%23L' class='B'/%3E%3Cuse xlink:href='%23M'/%3E%3Cuse xlink:href='%23M' class='B'/%3E%3Cuse xlink:href='%23N'/%3E%3Cuse xlink:href='%23N' class='B'/%3E%3Cuse xlink:href='%23O'/%3E%3Cuse xlink:href='%23O' class='B'/%3E%3Cuse xlink:href='%23P'/%3E%3Cuse xlink:href='%23P' class='B'/%3E%3Cuse xlink:href='%23Q'/%3E%3Cuse xlink:href='%23Q' class='B'/%3E%3Cuse xlink:href='%23R'/%3E%3Cuse xlink:href='%23R' class='B'/%3E%3Cuse xlink:href='%23S'/%3E%3Cuse xlink:href='%23S' class='B'/%3E%3Cuse xlink:href='%23T'/%3E%3Cuse xlink:href='%23T' class='B'/%3E%3Cg fill='%23ff0'%3E%3Cuse xlink:href='%23U'/%3E%3Cuse xlink:href='%23V'/%3E%3Cuse xlink:href='%23W'/%3E%3Cuse xlink:href='%23X'/%3E%3Cuse xlink:href='%23Y'/%3E%3C/g%3E%3Cuse xlink:href='%23Z'/%3E%3Cuse xlink:href='%23Z' class='B'/%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23a' class='B'/%3E%3Cuse xlink:href='%23b'/%3E%3Cuse xlink:href='%23b' class='B'/%3E%3Cuse xlink:href='%23c'/%3E%3Cuse xlink:href='%23c' class='B'/%3E%3Cuse xlink:href='%23d'/%3E%3Cuse xlink:href='%23d' class='B'/%3E%3Cuse xlink:href='%23e'/%3E%3Cuse xlink:href='%23e' class='B'/%3E%3Cuse xlink:href='%23f'/%3E%3Cuse xlink:href='%23f' class='B'/%3E%3C/svg%3E") !important;
}
.face-cursor-down {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='17' height='17'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D.C%7Bfill:olive%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M6 0h5v1H6V0z' id='A'/%3E%3Cpath d='M6 16h5v1H6v-1z' id='B'/%3E%3Cpath d='M0 6h1v5H0V6z' id='C'/%3E%3Cpath d='M16 6h1v5h-1V6z' id='D'/%3E%3Cpath d='M4 1h2v1H4V1z' id='E'/%3E%3Cpath d='M11 1h2v1h-2V1z' id='F'/%3E%3Cpath d='M4 15h2v1H4v-1z' id='G'/%3E%3Cpath d='M11 15h2v1h-2v-1z' id='H'/%3E%3Cpath d='M1 4h1v2H1V4z' id='I'/%3E%3Cpath d='M15 4h1v2h-1V4z' id='J'/%3E%3Cpath d='M1 11h1v2H1v-2z' id='K'/%3E%3Cpath d='M15 11h1v2h-1v-2z' id='L'/%3E%3Cpath d='M3 2h1v1H3V2z' id='M'/%3E%3Cpath d='M2 3h1v1H2V3z' id='N'/%3E%3Cpath d='M13 2h1v1h-1V2z' id='O'/%3E%3Cpath d='M14 3h1v1h-1V3z' id='P'/%3E%3Cpath d='M14 13h1v1h-1v-1z' id='Q'/%3E%3Cpath d='M13 14h1v1h-1v-1z' id='R'/%3E%3Cpath d='M2 13h1v1H2v-1z' id='S'/%3E%3Cpath d='M3 14h1v1H3v-1z' id='T'/%3E%3Cpath d='M1 6h15v5H1V6z' id='U'/%3E%3Cpath d='M2 4h13v9H2V4z' id='V'/%3E%3Cpath d='M3 3h11v11H3V3z' id='W'/%3E%3Cpath d='M4 2h9v13H4V2z' id='X'/%3E%3Cpath d='M6 1h5v15H6V1z' id='Y'/%3E%3Cpath d='M4 4h1v1H4V4z' id='Z'/%3E%3Cpath d='M6 6h1v1H6V6z' id='a'/%3E%3Cpath d='M7 9h3v1H7V9z' id='b'/%3E%3Cpath d='M10 11h1v1h-1v-1z' id='c'/%3E%3Cpath d='M6 11h1v1H6v-1z' id='d'/%3E%3Cpath d='M4 6h1v1H4V6z' id='e'/%3E%3Cpath d='M6 4h1v1H6V4z' id='f'/%3E%3Cpath d='M10 4h1v1h-1V4z' id='g'/%3E%3Cpath d='M4 5h3v1H4V5z' id='h'/%3E%3Cpath d='M12.01 6h1v1h-1V6z' id='i'/%3E%3Cpath d='M12.01 4h1v1h-1V4z' id='j'/%3E%3Cpath d='M10 6h1v1h-1V6z' id='k'/%3E%3Cpath d='M5 4h1v3H5V4z' id='l'/%3E%3Cpath d='M11 4h1v3h-1V4z' id='m'/%3E%3Cpath d='M10 5h3v1h-3V5z' id='n'/%3E%3Cpath d='M10 10h1v1h-1v-1z' id='o'/%3E%3Cpath d='M6 10h1v1H6v-1z' id='p'/%3E%3Cpath d='M6 12h1v1H6v-1z' id='q'/%3E%3Cpath d='M10 12h1v1h-1v-1z' id='r'/%3E%3Cpath d='M7 13h3v1H7v-1z' id='s'/%3E%3Cpath d='M7 12h1v2H7v-2z' id='t'/%3E%3Cpath d='M9 12h1v2H9v-2z' id='u'/%3E%3Cpath d='M9 9h1v2H9V9z' id='v'/%3E%3Cpath d='M7 9h1v2H7V9z' id='w'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23J'/%3E%3Cuse xlink:href='%23J' class='B'/%3E%3Cuse xlink:href='%23K'/%3E%3Cuse xlink:href='%23K' class='B'/%3E%3Cuse xlink:href='%23L'/%3E%3Cuse xlink:href='%23L' class='B'/%3E%3Cuse xlink:href='%23M'/%3E%3Cuse xlink:href='%23M' class='B'/%3E%3Cuse xlink:href='%23N'/%3E%3Cuse xlink:href='%23N' class='B'/%3E%3Cuse xlink:href='%23O'/%3E%3Cuse xlink:href='%23O' class='B'/%3E%3Cuse xlink:href='%23P'/%3E%3Cuse xlink:href='%23P' class='B'/%3E%3Cuse xlink:href='%23Q'/%3E%3Cuse xlink:href='%23Q' class='B'/%3E%3Cuse xlink:href='%23R'/%3E%3Cuse xlink:href='%23R' class='B'/%3E%3Cuse xlink:href='%23S'/%3E%3Cuse xlink:href='%23S' class='B'/%3E%3Cuse xlink:href='%23T'/%3E%3Cuse xlink:href='%23T' class='B'/%3E%3Cg fill='%23ff0'%3E%3Cuse xlink:href='%23U'/%3E%3Cuse xlink:href='%23V'/%3E%3Cuse xlink:href='%23W'/%3E%3Cuse xlink:href='%23X'/%3E%3Cuse xlink:href='%23Y'/%3E%3C/g%3E%3Cuse xlink:href='%23Z' class='C'/%3E%3Cuse xlink:href='%23Z' class='B'/%3E%3Cuse xlink:href='%23a' class='C'/%3E%3Cuse xlink:href='%23a' class='B'/%3E%3Cuse xlink:href='%23b'/%3E%3Cuse xlink:href='%23b' class='B'/%3E%3Cuse xlink:href='%23c'/%3E%3Cuse xlink:href='%23c' class='B'/%3E%3Cuse xlink:href='%23d'/%3E%3Cuse xlink:href='%23d' class='B'/%3E%3Cuse xlink:href='%23e' class='C'/%3E%3Cuse xlink:href='%23e' class='B'/%3E%3Cuse xlink:href='%23f' class='C'/%3E%3Cuse xlink:href='%23f' class='B'/%3E%3Cuse xlink:href='%23g' class='C'/%3E%3Cuse xlink:href='%23g' class='B'/%3E%3Cuse xlink:href='%23h'/%3E%3Cuse xlink:href='%23h' class='B'/%3E%3Cuse xlink:href='%23i' class='C'/%3E%3Cuse xlink:href='%23i' class='B'/%3E%3Cuse xlink:href='%23j' class='C'/%3E%3Cuse xlink:href='%23j' class='B'/%3E%3Cuse xlink:href='%23k' class='C'/%3E%3Cuse xlink:href='%23k' class='B'/%3E%3Cuse xlink:href='%23l'/%3E%3Cuse xlink:href='%23l' class='B'/%3E%3Cuse xlink:href='%23m'/%3E%3Cuse xlink:href='%23m' class='B'/%3E%3Cuse xlink:href='%23n'/%3E%3Cuse xlink:href='%23n' class='B'/%3E%3Cuse xlink:href='%23o' class='C'/%3E%3Cuse xlink:href='%23o' class='B'/%3E%3Cuse xlink:href='%23p' class='C'/%3E%3Cuse xlink:href='%23p' class='B'/%3E%3Cuse xlink:href='%23q' class='C'/%3E%3Cuse xlink:href='%23q' class='B'/%3E%3Cuse xlink:href='%23r' class='C'/%3E%3Cuse xlink:href='%23r' class='B'/%3E%3Cuse xlink:href='%23s'/%3E%3Cuse xlink:href='%23s' class='B'/%3E%3Cuse xlink:href='%23t'/%3E%3Cuse xlink:href='%23t' class='B'/%3E%3Cuse xlink:href='%23u'/%3E%3Cuse xlink:href='%23u' class='B'/%3E%3Cuse xlink:href='%23v'/%3E%3Cuse xlink:href='%23v' class='B'/%3E%3Cuse xlink:href='%23w'/%3E%3Cuse xlink:href='%23w' class='B'/%3E%3C/svg%3E");
}
.face-game-over {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='17' height='17'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M6 0h5v1H6V0z' id='A'/%3E%3Cpath d='M6 16h5v1H6v-1z' id='B'/%3E%3Cpath d='M0 6h1v5H0V6z' id='C'/%3E%3Cpath d='M16 6h1v5h-1V6z' id='D'/%3E%3Cpath d='M4 1h2v1H4V1z' id='E'/%3E%3Cpath d='M11 1h2v1h-2V1z' id='F'/%3E%3Cpath d='M4 15h2v1H4v-1z' id='G'/%3E%3Cpath d='M11 15h2v1h-2v-1z' id='H'/%3E%3Cpath d='M1 4h1v2H1V4z' id='I'/%3E%3Cpath d='M15 4h1v2h-1V4z' id='J'/%3E%3Cpath d='M1 11h1v2H1v-2z' id='K'/%3E%3Cpath d='M15 11h1v2h-1v-2z' id='L'/%3E%3Cpath d='M3 2h1v1H3V2z' id='M'/%3E%3Cpath d='M2 3h1v1H2V3z' id='N'/%3E%3Cpath d='M13 2h1v1h-1V2z' id='O'/%3E%3Cpath d='M14 3h1v1h-1V3z' id='P'/%3E%3Cpath d='M14 13h1v1h-1v-1z' id='Q'/%3E%3Cpath d='M13 14h1v1h-1v-1z' id='R'/%3E%3Cpath d='M2 13h1v1H2v-1z' id='S'/%3E%3Cpath d='M3 14h1v1H3v-1z' id='T'/%3E%3Cpath d='M1 6h15v5H1V6z' id='U'/%3E%3Cpath d='M2 4h13v9H2V4z' id='V'/%3E%3Cpath d='M3 3h11v11H3V3z' id='W'/%3E%3Cpath d='M4 2h9v13H4V2z' id='X'/%3E%3Cpath d='M6 1h5v15H6V1z' id='Y'/%3E%3Cpath d='M4 4h1v1H4V4z' id='Z'/%3E%3Cpath d='M6 6h1v1H6V6z' id='a'/%3E%3Cpath d='M6 10h5v1H6v-1z' id='b'/%3E%3Cpath d='M11 11h1v1h-1v-1z' id='c'/%3E%3Cpath d='M12 12h1v1h-1v-1z' id='d'/%3E%3Cpath d='M5 11h1v1H5v-1z' id='e'/%3E%3Cpath d='M4 12h1v1H4v-1z' id='f'/%3E%3Cpath d='M4 6h1v1H4V6z' id='g'/%3E%3Cpath d='M6 4h1v1H6V4z' id='h'/%3E%3Cpath d='M10 4h1v1h-1V4z' id='i'/%3E%3Cpath d='M5 5h1v1H5V5z' id='j'/%3E%3Cpath d='M11 5h1v1h-1V5z' id='k'/%3E%3Cpath d='M12.01 6h1v1h-1V6z' id='l'/%3E%3Cpath d='M12.01 4h1v1h-1V4z' id='m'/%3E%3Cpath d='M10 6h1v1h-1V6z' id='n'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23J'/%3E%3Cuse xlink:href='%23J' class='B'/%3E%3Cuse xlink:href='%23K'/%3E%3Cuse xlink:href='%23K' class='B'/%3E%3Cuse xlink:href='%23L'/%3E%3Cuse xlink:href='%23L' class='B'/%3E%3Cuse xlink:href='%23M'/%3E%3Cuse xlink:href='%23M' class='B'/%3E%3Cuse xlink:href='%23N'/%3E%3Cuse xlink:href='%23N' class='B'/%3E%3Cuse xlink:href='%23O'/%3E%3Cuse xlink:href='%23O' class='B'/%3E%3Cuse xlink:href='%23P'/%3E%3Cuse xlink:href='%23P' class='B'/%3E%3Cuse xlink:href='%23Q'/%3E%3Cuse xlink:href='%23Q' class='B'/%3E%3Cuse xlink:href='%23R'/%3E%3Cuse xlink:href='%23R' class='B'/%3E%3Cuse xlink:href='%23S'/%3E%3Cuse xlink:href='%23S' class='B'/%3E%3Cuse xlink:href='%23T'/%3E%3Cuse xlink:href='%23T' class='B'/%3E%3Cg fill='%23ff0'%3E%3Cuse xlink:href='%23U'/%3E%3Cuse xlink:href='%23V'/%3E%3Cuse xlink:href='%23W'/%3E%3Cuse xlink:href='%23X'/%3E%3Cuse xlink:href='%23Y'/%3E%3C/g%3E%3Cuse xlink:href='%23Z'/%3E%3Cuse xlink:href='%23Z' class='B'/%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23a' class='B'/%3E%3Cuse xlink:href='%23b'/%3E%3Cuse xlink:href='%23b' class='B'/%3E%3Cuse xlink:href='%23c'/%3E%3Cuse xlink:href='%23c' class='B'/%3E%3Cuse xlink:href='%23d'/%3E%3Cuse xlink:href='%23d' class='B'/%3E%3Cuse xlink:href='%23e'/%3E%3Cuse xlink:href='%23e' class='B'/%3E%3Cuse xlink:href='%23f'/%3E%3Cuse xlink:href='%23f' class='B'/%3E%3Cuse xlink:href='%23g'/%3E%3Cuse xlink:href='%23g' class='B'/%3E%3Cuse xlink:href='%23h'/%3E%3Cuse xlink:href='%23h' class='B'/%3E%3Cuse xlink:href='%23i'/%3E%3Cuse xlink:href='%23i' class='B'/%3E%3Cuse xlink:href='%23j'/%3E%3Cuse xlink:href='%23j' class='B'/%3E%3Cuse xlink:href='%23k'/%3E%3Cuse xlink:href='%23k' class='B'/%3E%3Cuse xlink:href='%23l'/%3E%3Cuse xlink:href='%23l' class='B'/%3E%3Cuse xlink:href='%23m'/%3E%3Cuse xlink:href='%23m' class='B'/%3E%3Cuse xlink:href='%23n'/%3E%3Cuse xlink:href='%23n' class='B'/%3E%3C/svg%3E");
}
.face-game-win {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='17' height='17'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M6 0h5v1H6V0z' id='A'/%3E%3Cpath d='M6 16h5v1H6v-1z' id='B'/%3E%3Cpath d='M0 6h1v5H0V6z' id='C'/%3E%3Cpath d='M16 6h1v5h-1V6z' id='D'/%3E%3Cpath d='M4 1h2v1H4V1z' id='E'/%3E%3Cpath d='M11 1h2v1h-2V1z' id='F'/%3E%3Cpath d='M4 15h2v1H4v-1z' id='G'/%3E%3Cpath d='M11 15h2v1h-2v-1z' id='H'/%3E%3Cpath d='M1 4h1v2H1V4z' id='I'/%3E%3Cpath d='M15 4h1v2h-1V4z' id='J'/%3E%3Cpath d='M1 11h1v2H1v-2z' id='K'/%3E%3Cpath d='M15 11h1v2h-1v-2z' id='L'/%3E%3Cpath d='M3 2h1v1H3V2z' id='M'/%3E%3Cpath d='M2 3h1v1H2V3z' id='N'/%3E%3Cpath d='M13 2h1v1h-1V2z' id='O'/%3E%3Cpath d='M14 3h1v1h-1V3z' id='P'/%3E%3Cpath d='M14 13h1v1h-1v-1z' id='Q'/%3E%3Cpath d='M13 14h1v1h-1v-1z' id='R'/%3E%3Cpath d='M2 13h1v1H2v-1z' id='S'/%3E%3Cpath d='M3 14h1v1H3v-1z' id='T'/%3E%3Cpath d='M1 6h15v5H1V6z' id='U'/%3E%3Cpath d='M2 4h13v9H2V4z' id='V'/%3E%3Cpath d='M3 3h11v11H3V3z' id='W'/%3E%3Cpath d='M4 2h9v13H4V2z' id='X'/%3E%3Cpath d='M6 1h5v15H6V1z' id='Y'/%3E%3Cpath d='M4 5h4v3H4V5z' id='Z'/%3E%3Cpath d='M9 5h4v3H9V5z' id='a'/%3E%3Cpath d='M6 12h5v1H6v-1z' id='b'/%3E%3Cpath d='M7 5h3v1H7V5z' id='c'/%3E%3Cpath d='M15 8h1v1h-1V8z' id='d'/%3E%3Cpath d='M5 11h1v1H5v-1z' id='e'/%3E%3Cpath d='M1 8h1v1H1V8z' id='f'/%3E%3Cpath d='M14 7h1v1h-1V7z' id='g'/%3E%3Cpath d='M13 6h1v1h-1V6z' id='h'/%3E%3Cpath d='M2 7h1v1H2V7z' id='i'/%3E%3Cpath d='M3 6h1v1H3V6z' id='j'/%3E%3Cpath d='M12 8h1v1h-1V8z' id='k'/%3E%3Cpath d='M4 8h1v1H4V8z' id='l'/%3E%3Cpath d='M5 7h2v2H5V7z' id='m'/%3E%3Cpath d='M10 7h2v2h-2V7z' id='n'/%3E%3Cpath d='M11 11h1v1h-1v-1z' id='o'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23I'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23J'/%3E%3Cuse xlink:href='%23J' class='B'/%3E%3Cuse xlink:href='%23K'/%3E%3Cuse xlink:href='%23K' class='B'/%3E%3Cuse xlink:href='%23L'/%3E%3Cuse xlink:href='%23L' class='B'/%3E%3Cuse xlink:href='%23M'/%3E%3Cuse xlink:href='%23M' class='B'/%3E%3Cuse xlink:href='%23N'/%3E%3Cuse xlink:href='%23N' class='B'/%3E%3Cuse xlink:href='%23O'/%3E%3Cuse xlink:href='%23O' class='B'/%3E%3Cuse xlink:href='%23P'/%3E%3Cuse xlink:href='%23P' class='B'/%3E%3Cuse xlink:href='%23Q'/%3E%3Cuse xlink:href='%23Q' class='B'/%3E%3Cuse xlink:href='%23R'/%3E%3Cuse xlink:href='%23R' class='B'/%3E%3Cuse xlink:href='%23S'/%3E%3Cuse xlink:href='%23S' class='B'/%3E%3Cuse xlink:href='%23T'/%3E%3Cuse xlink:href='%23T' class='B'/%3E%3Cg fill='%23ff0'%3E%3Cuse xlink:href='%23U'/%3E%3Cuse xlink:href='%23V'/%3E%3Cuse xlink:href='%23W'/%3E%3Cuse xlink:href='%23X'/%3E%3Cuse xlink:href='%23Y'/%3E%3C/g%3E%3Cuse xlink:href='%23Z'/%3E%3Cuse xlink:href='%23Z' class='B'/%3E%3Cuse xlink:href='%23a'/%3E%3Cuse xlink:href='%23a' class='B'/%3E%3Cuse xlink:href='%23b'/%3E%3Cuse xlink:href='%23b' class='B'/%3E%3Cuse xlink:href='%23c'/%3E%3Cuse xlink:href='%23c' class='B'/%3E%3Cuse xlink:href='%23d'/%3E%3Cuse xlink:href='%23d' class='B'/%3E%3Cuse xlink:href='%23e'/%3E%3Cuse xlink:href='%23e' class='B'/%3E%3Cuse xlink:href='%23f'/%3E%3Cuse xlink:href='%23f' class='B'/%3E%3Cuse xlink:href='%23g'/%3E%3Cuse xlink:href='%23g' class='B'/%3E%3Cuse xlink:href='%23h'/%3E%3Cuse xlink:href='%23h' class='B'/%3E%3Cuse xlink:href='%23i'/%3E%3Cuse xlink:href='%23i' class='B'/%3E%3Cuse xlink:href='%23j'/%3E%3Cuse xlink:href='%23j' class='B'/%3E%3Cuse xlink:href='%23k' fill='olive'/%3E%3Cuse xlink:href='%23k' class='B'/%3E%3Cuse xlink:href='%23l' fill='olive'/%3E%3Cuse xlink:href='%23l' class='B'/%3E%3Cuse xlink:href='%23m'/%3E%3Cuse xlink:href='%23m' class='B'/%3E%3Cuse xlink:href='%23n'/%3E%3Cuse xlink:href='%23n' class='B'/%3E%3Cuse xlink:href='%23o'/%3E%3Cuse xlink:href='%23o' class='B'/%3E%3C/svg%3E");
}

.c1 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cdefs%3E%3Cpath d='M5 0h2v9H5V0z' id='A'/%3E%3Cpath d='M2 8h7v2H2V8z' id='B'/%3E%3Cpath d='M4 1h3v8H4V1z' id='C'/%3E%3Cpath d='M3 2h2v2H3V2z' id='D'/%3E%3Cpath d='M2 3h2v1H2V3z' id='E'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' fill='%2300f'/%3E%3Cuse xlink:href='%23A' fill-opacity='0'/%3E%3Cuse xlink:href='%23B' fill='%2300f'/%3E%3Cuse xlink:href='%23B' fill-opacity='0'/%3E%3Cuse xlink:href='%23C' fill='%2300f'/%3E%3Cuse xlink:href='%23C' fill-opacity='0'/%3E%3Cuse xlink:href='%23D' fill='%2300f'/%3E%3Cuse xlink:href='%23D' fill-opacity='0'/%3E%3Cuse xlink:href='%23E' fill='%2300f'/%3E%3Cuse xlink:href='%23E' fill-opacity='0'/%3E%3C/svg%3E")
}
.c2 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill:green%7D.C%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M0 1h3v2H0V1z' id='A'/%3E%3Cpath d='M1 0h8v2H1V0z' id='B'/%3E%3Cpath d='M7 1h3v3H7V1z' id='C'/%3E%3Cpath d='M0 8h10v2H0V8z' id='D'/%3E%3Cpath d='M0 7h4v2H0V7z' id='E'/%3E%3Cpath d='M1 6h3v2H1V6z' id='F'/%3E%3Cpath d='M3 5h3v2H3V5z' id='G'/%3E%3Cpath d='M5 4h3v2H5V4z' id='H'/%3E%3Cpath d='M7 0h2v5H7V0z' id='I'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23A' class='C'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23B' class='C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23C' class='C'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23D' class='C'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23E' class='C'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23F' class='C'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23G' class='C'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23H' class='C'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23I' class='C'/%3E%3C/svg%3E")
}
.c3 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cdefs%3E%3Cpath d='M0 0h9v2H0V0z' id='A'/%3E%3Cpath d='M0 8h9v2H0V8z' id='B'/%3E%3Cpath d='M3 4h6v2H3V4z' id='C'/%3E%3Cpath d='M7 1h3v3H7V1z' id='D'/%3E%3Cpath d='M7 6h3v3H7V6z' id='E'/%3E%3Cpath d='M7 0h2v9H7V0z' id='F'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' fill='red'/%3E%3Cuse xlink:href='%23A' fill-opacity='0'/%3E%3Cuse xlink:href='%23B' fill='red'/%3E%3Cuse xlink:href='%23B' fill-opacity='0'/%3E%3Cuse xlink:href='%23C' fill='red'/%3E%3Cuse xlink:href='%23C' fill-opacity='0'/%3E%3Cuse xlink:href='%23D' fill='red'/%3E%3Cuse xlink:href='%23D' fill-opacity='0'/%3E%3Cuse xlink:href='%23E' fill='red'/%3E%3Cuse xlink:href='%23E' fill-opacity='0'/%3E%3Cuse xlink:href='%23F' fill='red'/%3E%3Cuse xlink:href='%23F' fill-opacity='0'/%3E%3C/svg%3E")
}
.c4 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cdefs%3E%3Cpath d='M6 0h3v10H6V0z' id='A'/%3E%3Cpath d='M0 4h10v2H0V4z' id='B'/%3E%3Cpath d='M1 2h3v3H1V2z' id='C'/%3E%3Cpath d='M2 0h3v2H2V0z' id='D'/%3E%3Cpath d='M2 1.23h2v4H2v-4z' id='E'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' fill='navy'/%3E%3Cuse xlink:href='%23A' fill-opacity='0'/%3E%3Cuse xlink:href='%23B' fill='navy'/%3E%3Cuse xlink:href='%23B' fill-opacity='0'/%3E%3Cuse xlink:href='%23C' fill='navy'/%3E%3Cuse xlink:href='%23C' fill-opacity='0'/%3E%3Cuse xlink:href='%23D' fill='navy'/%3E%3Cuse xlink:href='%23D' fill-opacity='0'/%3E%3Cuse xlink:href='%23E' fill='navy'/%3E%3Cuse xlink:href='%23E' fill-opacity='0'/%3E%3C/svg%3E")
}
.c5 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cdefs%3E%3Cpath d='M0 0h10v2H0V0z' id='A'/%3E%3Cpath d='M0 0h3v6H0V0z' id='B'/%3E%3Cpath d='M0 4h9v2H0V4z' id='C'/%3E%3Cpath d='M0 8h9v2H0V8z' id='D'/%3E%3Cpath d='M7 5h3v4H7V5z' id='E'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' fill='maroon'/%3E%3Cuse xlink:href='%23A' fill-opacity='0'/%3E%3Cuse xlink:href='%23B' fill='maroon'/%3E%3Cuse xlink:href='%23B' fill-opacity='0'/%3E%3Cuse xlink:href='%23C' fill='maroon'/%3E%3Cuse xlink:href='%23C' fill-opacity='0'/%3E%3Cuse xlink:href='%23D' fill='maroon'/%3E%3Cuse xlink:href='%23D' fill-opacity='0'/%3E%3Cuse xlink:href='%23E' fill='maroon'/%3E%3Cuse xlink:href='%23E' fill-opacity='0'/%3E%3C/svg%3E")
}
.c6 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cdefs%3E%3Cpath d='M1 0h8v2H1V0z' id='A'/%3E%3Cpath d='M1 4h8v2H1V4z' id='B'/%3E%3Cpath d='M1 8h8v2H1V8z' id='C'/%3E%3Cpath d='M0 1h3v8H0V1z' id='D'/%3E%3Cpath d='M7 5h3v4H7V5z' id='E'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' fill='teal'/%3E%3Cuse xlink:href='%23A' fill-opacity='0'/%3E%3Cuse xlink:href='%23B' fill='teal'/%3E%3Cuse xlink:href='%23B' fill-opacity='0'/%3E%3Cuse xlink:href='%23C' fill='teal'/%3E%3Cuse xlink:href='%23C' fill-opacity='0'/%3E%3Cuse xlink:href='%23D' fill='teal'/%3E%3Cuse xlink:href='%23D' fill-opacity='0'/%3E%3Cuse xlink:href='%23E' fill='teal'/%3E%3Cuse xlink:href='%23E' fill-opacity='0'/%3E%3C/svg%3E")
}
.c7 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M0 0h10v2H0V0z' id='A'/%3E%3Cpath d='M7 0h3v4H7V0z' id='B'/%3E%3Cpath d='M6 3.98h3v2H6v-2z' id='C'/%3E%3Cpath d='M4.99 6.01l3-.03.01 2-3 .03-.01-2z' id='D'/%3E%3Cpath d='M4 8h3v2H4V8z' id='E'/%3E%3Cpath d='M7 2h2v3H7V2z' id='F'/%3E%3Cpath d='M6 4.79h2v3H6v-3z' id='G'/%3E%3Cpath d='M5 6.7h2v3H5v-3z' id='H'/%3E%3C/defs%3E%3Cuse xlink:href='%23A'/%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23B'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23D'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23E'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23F'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23G'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23H'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3C/svg%3E")
}
.c8 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' width='10' height='10'%3E%3Cstyle%3E%3C!%5BCDATA%5B.B%7Bfill:gray%7D.C%7Bfill-opacity:0%7D%5D%5D%3E%3C/style%3E%3Cdefs%3E%3Cpath d='M1 0h8v2H1V0z' id='A'/%3E%3Cpath d='M1 4h8v2H1V4z' id='B'/%3E%3Cpath d='M1 8h8v2H1V8z' id='C'/%3E%3Cpath d='M7 6h3v3H7V6z' id='D'/%3E%3Cpath d='M7 1h3v3H7V1z' id='E'/%3E%3Cpath d='M0 1h3v3H0V1z' id='F'/%3E%3Cpath d='M0 6h3v3H0V6z' id='G'/%3E%3Cpath d='M1 2.82h2v4H1v-4z' id='H'/%3E%3Cpath d='M7 2.82h2v4H7v-4z' id='I'/%3E%3C/defs%3E%3Cuse xlink:href='%23A' class='B'/%3E%3Cuse xlink:href='%23A' class='C'/%3E%3Cuse xlink:href='%23B' class='B'/%3E%3Cuse xlink:href='%23B' class='C'/%3E%3Cuse xlink:href='%23C' class='B'/%3E%3Cuse xlink:href='%23C' class='C'/%3E%3Cuse xlink:href='%23D' class='B'/%3E%3Cuse xlink:href='%23D' class='C'/%3E%3Cuse xlink:href='%23E' class='B'/%3E%3Cuse xlink:href='%23E' class='C'/%3E%3Cuse xlink:href='%23F' class='B'/%3E%3Cuse xlink:href='%23F' class='C'/%3E%3Cuse xlink:href='%23G' class='B'/%3E%3Cuse xlink:href='%23G' class='C'/%3E%3Cuse xlink:href='%23H' class='B'/%3E%3Cuse xlink:href='%23H' class='C'/%3E%3Cuse xlink:href='%23I' class='B'/%3E%3Cuse xlink:href='%23I' class='C'/%3E%3C/svg%3E")
}
.replay-cursor {
	position: absolute;
	pointer-events: none;
	height: 25px;
	width: 25px;
	display: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='100%' height='100%'%3E%3Cpath fill='%23ffffff' stroke='%23000000' shape-rendering='geometricPrecision' stroke-linecap='round' stroke-linejoin='round' stroke-width='2px' d='M15,6l24,22.4l-11.6,1l6.7,14.6L29.7,46l-6.4-14.8L15,39L15,6'/%3E%3C/svg%3E");
}


.smiley-frame {
	border: 1px solid rgba(128,128,128);
}
.smiley-container {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 50% calc(50% + 1px);
  background-size: 17px;
	border-top: 2px solid rgb(255, 255, 255);
	border-left: 2px solid rgb(255, 255, 255);
	border-right: 2px solid rgba(128,128,128);
	border-bottom: 2px solid rgba(128,128,128);
}
.smiley-container-mousedown {
	background-position: calc(50% + 1px) calc(50% + 1px);
	padding: 1px 1px 2px 2px;
	border-right: 0px !important;
	border-bottom: 0px !important;
	border-top: 1px solid rgba(128,128,128) !important;
	border-left: 1px solid rgba(128,128,128) !important;
}

.scoreboard-content {
  display: flex;
	height: 100%;
	padding-left: 5px;
	padding-right: 7px;
}
.scoreboard-content-left {
	display: flex;
	flex: 1;
	justify-content: flex-start;
  align-items: center;
}
.scoreboard-content-middle {
	display: flex;
	flex: 1;
	justify-content: center;
  align-items: center;
}
.scoreboard-content-right {
	display: flex;
	flex: 1;
	justify-content: flex-end;
  align-items: center;
}

.scoreboard-digits-container {
	display: flex;
	height: 23px;
	width: 39px;
	background-color: rgba(0,0,0);
	border-top: 1px solid rgba(128,128,128);
	border-left: 1px solid rgba(128,128,128);
	border-right: 1px solid rgba(255,255,255);
	border-bottom: 1px solid rgba(255,255,255);
}
.scoreboard-digit-panel {
	height: 21px;
	width: 11px;
	display: grid;
	grid-auto-flow: row;
  gap: 0px;
	border: 1px solid transparent;
}
.scoreboard-digit-panel > div {
	width: 1px;
	height: 1px;
}
.x7 {
	background-color: rgba(128,0,0);
}
.y7 {
	background-color: transparent;
}
.red7 {
	background-color: red !important;
}

/* Menu feature stuff */
.feature-content-frame {
	border-top: 1px solid rgba(227,227,227);
	border-left: 1px solid rgba(227,227,227);
	border-right: 1px solid rgba(105,105,105);
	border-bottom: 1px solid rgba(105,105,105);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	min-width: 146px;
	position: absolute;
	display: none;
	max-height: calc(100vh - 30px);
	max-width: calc(100vw - 4px);
	overflow-y: scroll;
	scrollbar-width: none;
}
.feature-content-frame::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}
.feature-content {
	border-top: 1px solid rgba(255,255,255);
	border-left: 1px solid rgba(255,255,255);
	border-right: 1px solid rgba(160,160,160);
	border-bottom: 1px solid rgba(160,160,160);
	background-color: rgba(240,240,240);
	padding: 5px;
}
.feature-content-enabled {
	display: block !important;
}

/* .game-over-stats-parent {
	position: relative;
	width: 100%;
} */
.game-over-stats-frame {
	border-top: 1px solid rgba(227,227,227);
	border-left: 1px solid rgba(227,227,227);
	border-right: 1px solid rgba(105,105,105);
	border-bottom: 1px solid rgba(105,105,105);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	position: absolute;
	right: 0px;
/* 	overflow-y: scroll;
	scrollbar-width: none; */
	display: none;
}
.game-over-stats {
	border-top: 1px solid rgba(255,255,255);
	border-left: 1px solid rgba(255,255,255);
	border-right: 1px solid rgba(160,160,160);
	border-bottom: 1px solid rgba(160,160,160);
	background-color: rgba(240,240,240);
	padding-right: 5px;
	padding-left: 5px;
}
.game-over-stats-enabled {
	display: block !important;
}
.game-over-stats > table {
	border-collapse: collapse;
	border-bottom: 1px solid #cccccc;
}
.game-over-stats > table > tbody tr td {
	border-top: 1px solid #cccccc;
}
.game-over-stats > table > tbody tr td:last-child {
	text-align: right;
}
.game-over-stats > table > tbody tr:hover {
	background-color: rgba(255, 255, 0, 0.1);
}

/* Custom game field stuff */
.content-custom-game {	
	width: 100%;
	height: 100%;
	display: none;
  grid-template-columns: auto auto;
  grid-template-rows: 30px 1fr;
	gap: 5px;
}
.content-custom-game-enabled {
	display: grid !important;
}
.content-custom-game-header {
  grid-column: 1 / 3;
	grid-row: 1;
	place-self: center;
}
.content-custom-game-settings {
  grid-column: 1;
  grid-row: 2;
	place-self: center;
}
.content-custom-game-settings > div {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	gap: 5px 5px;
}
input.custom-game-field {
	width: 40px;
}
.content-custom-game-buttons {
  grid-column: 2;
  grid-row: 2;
	place-self: center;
}
.content-custom-game-buttons > button {
	width: 100%;
	padding: 0px;
	height: 25px;
	margin-bottom: 5px;
}
.content-custom-game-buttons > button:first-child {
	height: 40px;
}

.content-best-times {
	width: 100%;
	height: 100%;
	display: none;
  grid-template-columns: auto;
  grid-template-rows: 30px auto auto;
	gap: 5px;
}
.content-best-times-enabled {
	display: grid !important;
}
.content-best-times-header {
  grid-column: 1;
	grid-row: 1;
	place-self: center;
}
.content-best-times-table-container {
  grid-column: 1;
  grid-row: 2;
	place-self: center;
}
.content-best-times-table {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto auto;
	gap: 5px 5px;
}
.content-best-times-buttons {
	width: 100%;
  grid-column: 1;
  grid-row: 3;
	place-self: center;
}
.content-best-times-buttons > div {
	display: grid;
}
.content-best-times-buttons > div > button:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
	place-self: center;
	white-space: nowrap;
}
.content-best-times-buttons > div > button:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
	place-self: center;
}

.content-best-time-game {
	width: 100%;
	height: 100%;
	display: none;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
	gap: 10px;
}
.content-best-time-game-enabled {
	display: grid !important;
}
.content-best-time-game-header {
  grid-column: 1;
	grid-row: 1;
	place-self: center;
}
.content-best-time-game-input {
  grid-column: 1;
  grid-row: 2;
	place-self: center;
}
.content-best-time-game-input > input {
	width: 111px;
}
.content-best-time-game-buttons {
  grid-column: 1;
  grid-row: 3;
	place-self: center;
}
.content-best-time-game-buttons > button {
	width: 52px;
}

.content-escape-button-wrap {
	position: absolute;
	width: 20px;
	top: 2px;
	left: calc(100% - 20px);
}
.content-escape-button {
	position: fixed;
	padding: 2px;
	font-family: verdana;
	font-size: 16px;
	color: rgb(102, 0, 153);
	text-decoration: underline;
	cursor: pointer;
	background-color: rgba(240,240,240);
}

.content-help-contents {
	display: none;
}
.content-help-contents-enabled {
	display: block;
}

.content-about {
	display: none;
}
.content-about-enabled {
	display: block;
}

.content-about-text-section {
	margin-top: 10px;
}

.content-about-header {
	font-size: 14px;
	font-weight: bold;
}

.content-help-contents-toc {
	margin-bottom: 4px;
}
.content-help-contents-toc > div:first-child {
	margin-top: 6px;
}
.content-help-contents-toc > div:not(:first-child) {
	margin-left: 10px;
}
.content-help-contents-toc > div:not(:first-child):hover {
	text-decoration: underline;
}
.content-help-contents-body {
	padding-bottom: 10px;
}
.content-help-minesweeper-overview > div:nth-child(1),
.content-help-to-play-minesweeper > div:nth-child(1),
.content-help-to-customize > div:nth-child(1),
.content-help-strategies > div:nth-child(1) {
	font-size: 14px;
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 10px;
}

ol, ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
li {
	margin-top: 4px;
}

.content-game-history {
	display: none;
}
.content-game-history-enabled {
	display: block;
}
.content-game-history-header div {
	display: inline-block;
}
.content-game-history-header-select-label {
	display: block !important;
	padding-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
}
/* .content-game-history-icons-wrap {
	padding-left: 10px;
} */
.content-game-history-icons-wrap div {
	font-size: 16px;
	padding-right: 10px;
}
.content-game-history-icons-wrap div[data-game-history-action="game-history-save"]:hover,
.content-game-history-icons-wrap div[data-game-history-action="game-history-import"]:hover {
	color: rgb(0, 0, 216);
}
.content-game-history-icons-wrap div[data-game-history-action="game-history-delete"]:hover {
	color: rgb(153, 0, 0);
}
/* .content-game-history-table {
	padding-bottom: 24px;
} */
.content-game-history-table > table {
	border-collapse: collapse;
}
.content-game-history-table > table > thead th {
	text-align: center;
}
.content-game-history-table > table > thead th[scope=col]:hover {
	text-decoration: overline;
	cursor: pointer;
}
.content-game-history-table > table > tbody tr:nth-child(even) {
	background-color: #ffffff;
}
.content-game-history-table > table > tbody tr:nth-child(odd) {
	background-color: #f5f5f5;
}
.content-game-history-table > table > tbody tr td:nth-child(-n+4) {
	border: 1px solid #bbbbbb;
}
.content-game-history-table > table > tbody tr td:nth-child(n+5) {
	border: 1px solid #dddddd;
}
.content-game-history-table > table > tbody tr:hover {
	background-color: rgba(255, 255, 0, 0.2);
}
.content-game-history-table > table > tbody td {
	text-align: right;
	padding: 4px;
}
.content-game-history-table > table > tbody td:first-child {
	text-align: left;
}
.content-game-history-context {
	position: absolute;
	overflow: hidden;
	display: none;
	background-color: rgba(245,246,247);
	border: 1px solid rgba(161,197,233);
}
.content-game-history-context-enabled {
	display: block;
}
.content-game-history-context div {
	padding: 2px;
	font-family: 'Segoe UI';
	font-size: 9pt;
	color: #000000;
	white-space: nowrap;
}
.content-game-history-context div:hover {
	background-color: rgba(209, 226, 242);
}
.content-game-history-context-row-enabled {
	background-color: rgba(209, 226, 242) !important;
}

.content-game-history-select {
	font-family: Consolas;
}
/* .content-game-history-select option:nth-child(n+3):nth-child(-n+7) { */
.content-game-history-select {
	margin-right: 10px;
	margin-bottom: 5px;
}
.content-game-history-select option {
	border-bottom: 1px solid black;
}
.game-history-import-input {
	display: none;
}

.content-game-history-delete {
	display: none;
}
.content-game-history-delete div span:hover {
	cursor: pointer;
	text-decoration: underline;
}
.content-game-history-delete div[data-game-delete-action="game-delete-cancel"] {
	font-size: 1.3em;
	padding-top: 12px;
	color: rgb(102, 0, 153);
}
.content-game-history-delete div[data-game-delete-action="game-delete-board"] {
	font-size: 1.25em;
	padding-top: 4px;
	color: rgb(153, 0, 0);
}
.content-game-history-delete div[data-game-delete-action="game-delete-every-board"] {
	padding-top: 10px;
	color: rgb(153, 0, 0);
}
.content-game-history-delete-enabled {
	display: block;
}
.content-game-history-delete-enabled + div {
	display: none;
}
.content-game-history-no-history {
	display: none;
}
.content-game-history-no-history-enabled {
	display: block;
}
.content-game-history-no-history-enabled + div {
	display: none;
}

.sort-asc-icon, .sort-desc-icon {
	text-decoration: overline;
}
.sort-asc-icon:after {
	display:inline-block;
	text-decoration: none !important;
	content: '▴';
	position: absolute;
}
.sort-desc-icon:after {
	display:inline-block;
	text-decoration: none !important;
	content: '▾';
	position: absolute;
}
.col-hover {
	background-color: rgba(255, 255, 0, 0.1);
}

.content-settings {
	display: none;
	max-width: 175px;
}
.content-settings-enabled {
	display: block;
}
.content-settings-save-notification-wrap {
	position: absolute;
	width: 20px;
	top: 0px;
	right: calc(100% - 20px);
}
.content-settings-save-notification {
	position: fixed;
	background-color: rgba(240,240,240);
	height: 20px;
	padding-left: 4px;
	opacity: 1;
}
.content-settings-save-notification-transitioned {
	opacity: 0;
	transition: 2s ease-out;
}
.content-settings-header {
	padding-bottom: 2px;
	font-size: 14px;
	font-weight: bold;
}
.content-settings-item-label {
	padding-bottom: 6px;
	font-size: 12px;
	font-weight: bold;
}
.content-settings-item-body {
	padding-left: 2px;
	padding-top: 2px;
}
.content-settings-item-body label {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
.content-settings-item-separator {
	margin-top: 14px;
	height: 1px;
	background-color: #cccccc;
}
.content-settings-cell-size-input {
	width: 40px;
}
.content-settings-cell-size > div {
	display: inline-block;
}
.content-settings-default-name-input,
.content-settings-api-url {
	width: 90%;
	max-width: 200px;
}

/* global things */
.display-none {
	display: none;
}
.display-block {
	display: block;
}
.display-inline-block {
	display: inline-block;
}
.text-decoration-none {
	text-decoration: none;
}
.text-decoration-underline {
	text-decoration: underline;
}
